<h1>トップページです</h1>

<div class="slicker offset1">
  <div>
    <%= image_tag 'foods.jpg', size:'900x500', class:'ab-slick' %>
  </div>
  <div>
    <%= image_tag 'foods2.jpg', size:'900x500', class:'ab-slick' %>
  </div>
  <div>
    <%= image_tag 'foods3.jpg', size:'900x500', class:'ab-slick' %>
  </div>
</div>

<script>
  $(function(){
    $('.slicker').slick({
      autoplay: true,
      autoplaySpeed: 3000,
      swipeToSlide: true,
      fade: true,
      arrows: false,
    });
  });
</script>