@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

}

li {
  list-style: none;
}

body{
  background-image: url('../../assets/images/bg.jpg');
}

main{
}


#icon {
 color: rgb(31, 191, 22);
}